.footer {
  font-size: 1.6rem;
  margin-top: 3rem;
  padding: 1.5rem 0;
  border-top: 0.1rem solid #dee2e6;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__github-link {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
}
