.footer {
  font-size: 1.6rem;
  margin-top: 2rem;
  padding: 1.5rem 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__github-link {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
}
