.navbar {
  font-size: 1.8rem;
  padding: 1.5rem 0;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid #dee2e6;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo{
    width: 13rem;
  }

  &__nav {
    width: 50%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    color: #333;
  }

  &__search {
    padding: 0.5rem 1.5rem;
    border-radius: 5rem;
    border: 0.1rem solid #ccc;
    font-size: 1.3rem;
  }
}
